

      <div id='main' role='main'>

        <!-- <div class="banner-small" style="background-image: linear-gradient(-210deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.3) 50%), url('<%= image_path 'at/london.jpg'%>');"> -->

        <div class="banner-small" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.0) 0%, rgba(0,36,61,0.2) 50%), url('<%= cl_image_path("at/london.jpg", :client_hints=>true, :transformation=>[{:width=>1700, :height=>850, :dpr=>"auto", :gravity=>"", :crop=>"fill"}]) %>');">
          <div>
             <h1 class='big fadeInRightBig animated'>About us</h1>
          </div>
        </div>



        <div class='row'>
          <div class='col-sm-12'>
            <div class='page-header page-header-with-icon'>
              <i class='fa fa-group'></i>
              <h2>
              </h2>
            </div>
            <div class='profile-boxes'>
              <div class='row'>
                <div class='col-sm-12 profile-box'>
                  <div class='row'>
                    <div class='col-sm-2 col-sm-offset-4'>
                      <a class='image-link' data-lightbox data-lightbox-gallery='team' href='mailto:info@academiatranslations.co.uk?Subject=Information%20Request&amp;text=Big+image' title='Olivia Cockburn'>
                        <i class='fa fa-envelope'></i>
                        <%= cl_image_tag("at/olivia.jpg", :client_hints=>true, :transformation=>[{:dpr=>"auto"}], width: '165', height: '165' ) %>
                      </a>
                    </div>
                    <div class='col-sm-4'>
                      <h3 class='name'>Olivia Cockburn</h3>
                      <h4 class='position'>Director</h4>
                      <p> MA, MA, PhD, MCIL, MITI </p>
                      <div class='links'>
                        <a class='btn btn-medium-light btn-sm btn-circle' href='https://uk.linkedin.com/in/olivia-cockburn-5662a122/en'>
                          <i class='fa fa-linkedin'></i>
                        </a>
                        <a class='btn btn-medium-light btn-sm btn-circle' href="mailto:olivia@academiatranslations.co.uk?Subject=Information%20Request" target="_top">
                          <i class='fa fa-envelope'></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id='main-content'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='row'>
                  <div class='col-sm-12'>
                    <p class='lead lead-xs'>
                    Academia Translations was founded in 2012 by Olivia Cockburn (MA, MA, PhD, MCIL, MITI).
                     <br/> <br/>

                    With a BA Hons First Degree in Spanish, Latin and Portuguese, Olivia then headed to Spain for her postgraduate training. She completed a Masters Degree in Latin and Spanish Linguistics before moving on to a PhD in Bilingualism and Translation, specialising in Ancient Languages and Romance Linguistics. Whilst researching and lecturing at the Universidad Autónoma de Madrid, Olivia became a Chartered Linguist and full member of the Institute of Translation and Interpreting before deciding to set up Academia Translations. <br/> <br/>

                    With a passion for detail, Olivia heads all translation projects and ensures that they are of the highest possible quality. <br/> <br/>

                    </p>

                  </div>
                </div>
              </div>
            </div>

            <div class='row'>
              <div class='col-sm-12'>
                <div class='row'>
                  <div class='col-sm-12 text-center'>


                      <%= cl_image_tag("at/chartered.jpg", :client_hints=>true, :transformation=>[{:dpr=>"auto"}], height: '140' ) %>
                      <%= cl_image_tag("at/MITI.jpg", :client_hints=>true, :transformation=>[{:dpr=>"auto"}], height: '140' ) %>

                  </div>
                </div>
              </div>
            </div>

            <div class='row'>
              <div class='col-sm-12'>
                <div class='page-header'>

                </div>
              </div>
            </div>


          </div>
        </div>



        <div class='row'>
          <div class='col-sm-12'>
            <div class='profile-boxes'>
              <div class='row'>
                <div class='col-sm-12 profile-box'>
                  <div class='row'>
                    <div class='col-sm-2 col-sm-offset-4'>
                      <a class='image-link' data-lightbox data-lightbox-gallery='team' href='mailto:info@academiatranslations.co.uk?Subject=Information%20Request&amp;text=Big+image' title='Rafael Perez'>
                        <i class='fa fa-envelope'></i>

                        <%= cl_image_tag("at/rafa.jpg", :client_hints=>true, :transformation=>[{:dpr=>"auto"}], width: '165', height: '165' ) %>
                      </a>
                    </div>

                    <div class='col-sm-4'>
                      <h3 class='name'>Rafael Pérez</h3>
                      <h4 class='position'>Associate Director</h4>
                      <p> BSc Hons, CMIOSH </p>
                      <div class='links'>
                        <a class='btn btn-medium-light btn-sm btn-circle' href='https://uk.linkedin.com/in/rafaelperezechevarria'>
                          <i class='fa fa-linkedin'></i>
                        </a>
                        <a class='btn btn-medium-light btn-sm btn-circle' href="mailto:rafa@academiatranslations.co.uk?Subject=Information%20Request" target="_top">
                          <i class='fa fa-envelope'></i>
                        </a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id='main-content'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='row'>
                  <div class='col-sm-12'>
                    <p class='lead lead-xs'>
                    With his background in designing and implementing management systems, Rafa brings a wealth of corporate experience to Academia Translations. A recent addition to our team, Rafa manages our business development and marketing strategy.
                    </p>

                  </div>
                </div>
              </div>
            </div>

            <div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                  <i class='fa fa-certificate'></i>
                </div>
              </div>
            </div>

            <div class='row'>
              <div class='col-sm-12'>
                <div class='row'>
                  <div class='col-sm-12'>
                    <p class='lead lead-xs'>

                    Based in London and with a team of twenty translators, Academia Translations can take on all types of project, from large, long-term publications to urgent press releases with a turn around of a few hours. <br/> <br/>

                    At Academia Translations, you deal directly with the linguist. We are unique in offering a truly bespoke and premium translation service.
                    </p>

                  </div>
                </div>
              </div>
            </div>






          </div>
        </div>


        <div class='fade' id='scroll-to-top'>
          <i class='fa fa-chevron-up'></i>
        </div>
      </div>
