


      <div id='main' role='main'>
        <!-- / carousel blur -->


       <div class="banner" style="background-image: linear-gradient(210deg, rgba(0,101,168,0.1) 20%, rgba(0,36,61,0.3) 50%), url('<%= cl_image_path("at/lights.jpg", :client_hints=>true, :transformation=>[{:dpr=>"auto", :gravity=>"", :crop=>"fill"}]) %>');">
         <div>

            <h1 class='big fadeInRightBig animated'>Academia Translations</h1>
             <p class='normal fadeInLeftBig animated'> Fast, accurate and reliable translations by expert linguists </p>
         </div>
       </div>


        <div id='main-content'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <p class='lead lead-lg text-center'> At Academia Translations, we combine the best linguists and experts in your field to protect and project your message.
                </p>
              </div>
            </div>
            <div class='panels-wrapper'>
              <div class='row panels'>

                <div class='col-sm-6 panel-item'>
                  <a class='panel panel-big' href='services.html#pledge'>
                    <div class='panel-icon'>
                      <i class='fa fa-certificate icon'></i>
                    </div>
                    <div class='panel-body'>
                      <h3 class='panel-title'> Bespoke premium service </h3>
                      <p> You deal directly with a linguist to ensure the highest quality </p>
                    </div>
                  </a>
                </div>

                <div class='col-sm-6 panel-item'>
                  <a class='panel panel-big' href='services.html#pledge'>
                    <div class='panel-icon'>
                      <i class='fa fa fa-trophy icon'></i>
                    </div>
                    <div class='panel-body'>
                      <h3 class='panel-title'>The Best of the Best</h3>
                      <p> Native translators who are members of recognised professional bodies </p>
                    </div>
                  </a>
                </div>

                <div class='col-sm-6 panel-item'>
                  <a class='panel panel-big' href='services.html#pledge'>
                    <div class='panel-icon'>
                      <i class='fa fa-check icon'></i>
                    </div>
                    <div class='panel-body'>
                      <h3 class='panel-title'> Second line assurance </h3>
                      <p> Translation review by a second expert linguist </p>
                    </div>
                  </a>
                </div>
                <div class='col-sm-6 panel-item'>
                  <a class='panel panel-big' href='services.html#pledge'>
                    <div class='panel-icon'>
                      <i class='fa fa-comment-o icon'></i>
                    </div>
                    <div class='panel-body'>
                      <h3 class='panel-title'> Translation commentary </h3>
                      <p> We take you through our choice of terms and style</p>
                    </div>
                  </a>
                </div>



            </div>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                  <i class='fa fa-certificate'></i>
                  <h2>
                    OUR CLIENTS INCLUDE
                    <small></small>
                  </h2>
                </div>
                <div class='row'>
                  <div class='col-sm-12'>
                    <div class='client-slideshow cycle-slideshow' data-cycle-carousel-fluid='true' data-cycle-fx='carousel' data-cycle-timeout='2000'>
                      <img alt="" height="90" src='<%= image_path 'at/santander.jpg'%>' />
                      <img alt="" height="70" src='<%= image_path 'at/ceigram.jpg'%>' />
                      <img alt="" height="80" src='<%= image_path 'at/universidad_autonoma.jpg'%>' />

                      <img alt="" height="70" src='<%= image_path 'at/Logo_basaldua.jpg'%>' />
                      <img alt="" height="80" src='<%= image_path 'at/respira.jpg'%>' />

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                  <i class='fa fa-quote-right'></i>
                  <h2>Testimonials</h2>
                </div>
                <div class='row quotes'>
                  <div class='carousel carousel-default slide carousel-auto' id='carousel-testimonials'>
                    <div class='carousel-inner'>
                      <div class='item active quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>Academia Translations has provided the best language consultancy to Respira and we would not hesitate to recommend their services.”.</p>
                          <div class='author-wrapper'>
                            <p class='author'>
                              <strong>Jordi Fernández</strong>,
                              Respira
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class='item quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>Since 2012 Academia Translations has been providing translations for the Santander Shareholder department and translates and localises text for the UK, Spanish, Portuguese and Brazilian websites. We are very happy with the professional and reliable service they provide.</p>
                          <div class='author-wrapper'>
                            <p class='author'>
                              <strong>Shareholder Department</strong>,
                              Santander
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ol class='carousel-indicators'>
                      <li class='active' data-slide-to='0' data-target='#carousel-testimonials'></li>
                      <li data-slide-to='1' data-target='#carousel-testimonials'></li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa fa-chevron-up'></i>
        </div>
      </div>




