
<div id='main' role='main'>

  <div class="banner-small" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.0) 0%, rgba(0,36,61,0.2) 50%), url('<%= cl_image_path("at/light-300431.jpg", :client_hints=>true, :transformation=>[{:width=>2000, :height=>800, :dpr=>"auto", :gravity=>"south", :crop=>"fill"}]) %>');">

    <div>
       <h1 class='big fadeInRightBig animated'>Services</h2>
    </div>
  </div>

  <div id='main-content'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='text-center'>
          </div>
          <div class='row'>
            <div class='col-sm-12'>
              <p class='lead lead-xs text-center'>
              We provide expert translation services in the following languages: <br/>
              <strong>  Spanish, Portuguese, French, Italian, Catalan, German  and Latin.  </strong>
              </p>

            </div>
          </div>
        </div>

      <div class='row'>
        <div class='col-sm-12'>
          <div class='page-header page-header-with-icon'>
            <i class='fa fa-thumbs-up'></i>
            <h2>
              <strong>Fields of expertise</strong>
            </h2>
          </div>
          <div class='icon-boxes icon-boxes-lg'>
            <div class='row'>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-university text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>Academia</h3>
                  <p>Doctoral theses, research proposals, reports and abstracts, journal, articles.</p>
                </div>
              </div>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-line-chart text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>Finance</h3>
                  <p>Financial reports, shareholder newsletters, press releases.</p>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-pencil text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>Marketing</h3>
                  <p>Transcreation (adaptation to the target culture) of marketing campaigns, advertising literature, branding.</p>
                </div>
              </div>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-futbol-o text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>Sports & Media</h3>
                  <p>Subtitling, sponsorship agreements, audiovisual rights sales.</p>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-balance-scale text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>Law</h3>
                  <p>Affidavits, contracts, certificates.</p>
                </div>
              </div>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-flask text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>Technology & Science</h3>
                  <p>Engineering, medicine and textiles.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="container">
        <div class='row'>
          <div class='col-sm-12'>
            <div class='text-center'>
            </div>
            <div class='row'>
              <div class='col-sm-12'>
                <p style="margin-top:100px" class='text-center'>
               As Qualified Members of the Institute of Translation and Interpreting and the Chartered Institute of Linguists, our translators can also certify your translations as required. We also work with public notaries to notarise and legalise translations if needed.
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='row' id='pledge'>
        <div class='col-sm-12'>
          <div class='page-header page-header-with-icon'>
            <i class='fa fa-star'></i>
            <h2> <strong>Our Pledge</strong></h2>
            <p>
              We pride ourselves in offering a bespoke and premium translation service of the highest possible quality. This is our pledge to you:
            </p>
          </div>
          <div class='text-boxes'>
            <div class='row text-box'>
              <div class='col-sm-4 col-sm-push-2'><img class="img-responsive center-block" alt="world" width="150" src=" <%= asset_path 'at/countries-1301799.png' %>" /></div>
              <div class='col-sm-4 col-sm-push-2'>
                <h3 class='title'><a href="#">Native professionals: </a></h3>
                <p>Our translators only ever work into their mother tongue. They are experts in the target culture so your message will not get lost. </p>
              </div>
            </div>
            <hr>
            <div class='row text-box'>
              <div class='col-sm-4 col-sm-push-6'><img class="img-responsive center-block" alt="Praesent vitae adipiscing nunc" width="330" src=" <%= asset_path 'at/office-59413.jpg' %>"    /></div>
              <div class='col-sm-4 col-sm-pull-2'>
                <h3 class='title'><a href="#">Second line assurance:</a></h3>
                <p>Translations are reviewed by a second professional linguist and expert in the subject matter. </p>
              </div>
            </div>
            <hr>
            <div class='row text-box'>
              <div class='col-sm-2 col-sm-push-2'><img class="img-responsive center-block" alt="Praesent vitae adipiscing nunc" height="150" src="<%= asset_path 'at/MITI.jpg' %>" /></div>
               <div class='col-sm-2 col-sm-push-2'><img class="img-responsive center-block" alt="Praesent vitae adipiscing nunc" height="150" src="<%= asset_path 'at/chartered.jpg' %>" /></div>
              <div class='col-sm-4 col-sm-push-2'>
                <h3 class='title'><a href="#">The best of the best: </a></h3>
                <p>All of our linguists are experienced members of recognised professional bodies. In the UK, this means they are Full Members of the Chartered Institute of Linguists or Qualified Members of the Institute of Translation and Interpreting.</p>
              </div>
            </div>
            <hr>
            <div class='row text-box'>
              <div class='col-sm-4 col-sm-push-6'><img class="img-responsive center-block" alt="Praesent vitae adipiscing nunc" width="330" height="183" src="<%= asset_path 'at/workplace.jpg' %>" /></div>
              <div class='col-sm-4 col-sm-pull-2'>
                <h3 class='title'><a href="#">We care:</a></h3>
                <p>Our translations are always provided with a commentary that will take you through our choice of terms and style. You will be able to engage with our project manager, always a linguist, on technical discussions related to the translation.  This way you will have total peace of mind that your carefully chosen words have not got lost in translation. </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class='fade' id='scroll-to-top'>
    <i class='fa fa-chevron-up'></i>
  </div>
</div>






